body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e2c7d1;
}

@keyframes headeranimation{
  0% {border-radius: 0%;}
  50% {border-radius: 25px;
  background-color: #b997a4;}
}

header{
  background-color: #987284;
  color: #D0D6B5;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 400px;
  width: 800px;
  animation-name: headeranimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes asideanimation{
  0% {  border-radius: 20px;}
  50% {border-radius: 0%;
  background-color: #f1c3d7;}
}

aside{
  background-color: #d6acbf;
  color: #9d7488;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

aside:hover{
  animation-name: asideanimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

hr{
  border-color: #8e696b72;
  border-style: dashed;
}

h2{
  margin-top: 40px;
}

header h2{
  margin-top: 0px;
}

section{
  background-color: rgb(232, 187, 198);
}

section h2, footer h2{
  color: #8E696B;
}

section h3{
  color: #a77f83;
}

footer{
background-color: rgb(225, 190, 199);
padding-left: 50px;
padding-right: 50px;
}

form{
  width: 200px;
  display: grid;
  row-gap: 10px;
  margin-bottom: 50px;
}

img{
  border-radius: 100px;
  border-style: solid;
  border-width: 5px;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 150px;
  width: 150px;
}

.page-horizontal{
  display: flex;
}

.profile{
  display: flex;
  align-items: center;
}

.author{
  position: relative;
  left: -40px;
}

.qaulification{
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right-color: #daa1b5;
  border-width: 10px;
}

.experience{
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right-color: #daa1b5;
  border-width: 10px;
}

.skills{
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right-color: #daa1b5;
  border-width: 10px;
}

.page-links a:link, .page-links a:hover, .page-links a:visited, .page-links a:active{
  color: #7C4347;
}

.codespace-link a:link, .codespace-link a:hover, .codespace-link a:visited, .codespace-link a:active{
  color: #8d7379;
}

footer a:link, footer a:hover, footer a:visited, footer a:active{
  color: #B56D75;
} 

.banner{
  border: none;
  border-radius: 0%;
  width: 1200px;
  height: 400px;
  object-fit:contain;
  margin: 0;
  border-radius: 25px;
  display: inline;
  position: absolute;
  right: 0px;
}